In [4]:
st= "abc"

In [5]:
st.islower()

True

In [6]:
class Card:
    suit=3
    rank=5

In [7]:
card01 = Card()

In [8]:
type(card01)

__main__.Card

In [9]:
card02= Card()

In [10]:
card01.suit

3

In [11]:
card01.suit =2

In [13]:
card01.rank=10

In [14]:
a=87

In [15]:
type(a)

int

In [16]:
class Card:
    SUITS=["♠","♥","♦","♣"]
    RANKS=['A','2','3','4','5','6','7','8','9','10','J','Q','K']
    
    def __init__(self, s, r):
        self.suit = s
        self.rank = r

In [17]:
card01 = Card(0,3)

In [18]:
card01.suit

0

In [19]:
card01.rank

3

In [20]:
card02 = Card(2,10)

In [25]:
class Card:
    SUITS=["♠","♥","♦","♣"]
    RANKS=['A','2','3','4','5','6','7','8','9','10','J','Q','K']
    
    def __init__(self, s, r):
        self.suit = s
        self.rank = r
    
    def show(self):
        print(self.SUITS[self.suit] + self.RANKS[self.rank])

In [26]:
card01 =Card(0,3)

In [27]:
card01.show()

♠4

In [32]:
class Card:
    SUITS=["♣","♦","♥","♠"]
    RANKS=['A','2','3','4','5','6','7','8','9','10','J','Q','K']
    
    def __init__(self, s, r):
        self.suit = s
        self.rank = r
    
#    def __str__(self):
#        return self.SUITS[self.suit] + self.RANKS[self.rank]
        
    def __repr__(self):
        return self.SUITS[self.suit] + self.RANKS[self.rank]

In [34]:
card01 = Card(0,9)

In [36]:
card01

♣10

In [38]:
for i in range(10):
    print(i,end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [39]:
for i in range(10):
    print(i,end=", \n")

0,
1,
2,
3,
4,
5,
6,
7,
8,
9,

In [40]:
print(", ".join(map(str,range(10))))

0, 1, 2, 3, 4, 5, 6, 7, 8, 9

## 格式化1

In [44]:
name ='kuanwei'
age = 25

In [47]:
print("您好，我叫"+name+"，我今年"+str(age)+"歲。")

您好，我叫kuanwei，我今年25歲。

In [48]:
message = "您好，我叫%s，我今年%d歲。" %(name,age)

In [49]:
print(message)

您好，我叫kuanwei，我今年25歲。

## 格式化2

In [50]:
message = "您好，我叫{}，我今年{}歲。".format(name,age)

In [51]:
print(message)

您好，我叫kuanwei，我今年25歲。

## 格式化3

In [52]:
message =f"您好，我叫{name}，我今年{age}歲。"

In [53]:
print(message)

您好，我叫kuanwei，我今年25歲。

## 數字控制1

In [54]:
c=31.0655483

In [55]:
print(f"一美元合台幣{c}元。")

一美元合台幣31.0655483元。

In [56]:
print(f"一美元合台幣{c:.2f}元。")

一美元合台幣31.07元。

In [58]:
print(f"一美元合台幣{c:.4f}元。")

一美元合台幣31.0655元。

In [62]:
print(f"一美元合台幣{c:10.2f}元。")

一美元合台幣     31.07元。

In [63]:
print(f"一美元合台幣{c:0>10.2f}元。")

一美元合台幣0000031.07元。

In [64]:
print(f"一美元合台幣{c:*>10.2f}元。")

一美元合台幣*****31.07元。

In [65]:
print(f"一美元合台幣{c:0<10.2f}元。")

一美元合台幣31.0700000元。

In [66]:
print(f"一美元合台幣{c:0^10.2f}元。")

一美元合台幣0031.07000元。

In [67]:
print(f"一美元合台幣{c:0^9.2f}元。")

一美元合台幣0031.0700元。

In [2]:
for i in range(-1,10):
    stars="*"*i
    print(f'{stars:>10s}')

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [71]:
for i in range(10):
    stars="*"*i
    print(f'{stars:^10s}')

    *
    **
   ***
   ****
  *****
  ******
 *******
 ********
*********

In [75]:
for i in range(1,16,2):
    stars="*"*i
    print(f'{stars:^15s}')

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

In [76]:
word = ["一","二","三"]

In [77]:
from random import choice

In [78]:
choice(word)

'二'

In [79]:
from random import choices

In [82]:
choices(word, k=3)

['二', '二', '二']

In [83]:
from random import sample

In [84]:
sample(word,2)

['二', '三']

In [85]:
word= ["我","我的","妳","妳的","心","溫柔","日子","雨","風","天空","雲","等待","哭泣","戀愛","相遇","分離","忘記","心醉","驀然","吹過","思念","靈魂","停止"]

In [86]:
from random import sample

In [102]:
def poetry():
    a=sample(word,5)
    b=sample(word,6)
    c=sample(word,4)

    print(a)
    print(b)
    print(c)

In [103]:
poetry()

['哭泣', '心', '雨', '靈魂', '分離']
['心', '風', '相遇', '思念', '分離', '溫柔']
['心醉', '妳的', '風', '天空']

In [124]:
st='''
我
我的
妳
妳的
心
眼睛
溫柔
日子
雨
風
天空
雲
等待
哭泣
戀愛
相遇
分離
忘記
心醉
驀然
吹過
思念
靈魂
停止'''

In [125]:
words = st.split('\n')

In [126]:
st.split('\n')

['',
 '我',
 '我的',
 '妳',
 '妳的',
 '心',
 '眼睛',
 '溫柔',
 '日子',
 '雨',
 '風',
 '天空',
 '雲',
 '等待',
 '哭泣',
 '戀愛',
 '相遇',
 '分離',
 '忘記',
 '心醉',
 '驀然',
 '吹過',
 '思念',
 '靈魂',
 '停止']

In [127]:
from random import randint, choices, sample

In [128]:
def poem():
    n= randint(5,10)

    for i in range(n):
        m=randint(3,6)
        sentance=sample(words, m)
        print(" ".join(sentance))

In [129]:
poem()

相遇 忘記 日子 分離 思念
我  戀愛
停止 眼睛 我的 雨
忘記 眼睛 吹過 停止 溫柔
眼睛 吹過 驀然
等待 哭泣 吹過