```
105 年 10 月 29 日
程式設計實作題
```
# 第 2 題 最大和

## 問題描述
```
給定N群數字，每群都恰有M個正整數。若從每群數字中各選擇一個數字 (假設第
i 群所選出數字為 ti )，將所選出的N個數字加總即可得總和S = t 1 + t 2 +...+ tN 。請寫程
式計算S的最大值 (最大總和)，並判斷各群所選出的數字是否可以整除S。
```
輸入格式
第一行有二個正整數N和M， 1 ≦ N ≦ 20 ， 1 ≦ M ≦ 20 。
接下來的N行，每一行各有M個正整數 _xi_ ，代表一群整數，數字與數字間有一個空
格，且 1 ≦ _i_ ≦M，以及 1 ≦ _xi_ ≦ 256 。

輸出格式
第一行輸出最大總和S。
第二行按照被選擇數字所屬群的順序，輸出可以整除S的被選擇數字，數字與數字間
以一個空格隔開，最後一個數字後無空白；若N個被選擇數字都不能整除S，就輸出- 1 。

## 範例一：輸入

## 3 2

## 1 5

## 6 4

## 1 1

## 範例一：正確輸出

## 12

## 6 1

```
（說明）挑選的數字依序是5, 6, 1 ，總和

 S=12。而此三數中可整除S的是 6 與 1 ，

6 在第二群， 1 在第 3 群所以先輸出 6 再

輸出 1 。注意， 1 雖然也出現在第一群，

 但她不是第一群中挑出的數字，所以順

序是先 6 後 1 。
```

## 範例二：輸入

## 4 3

## 6 3 2

## 2 7 9

## 4 7 1

## 9 5 3

## 範例二：正確輸出

## 31

## - 1

```
（說明）挑選的數字依序是 6,9,7,9，總

和S= 31 。而此四數中沒有可整除S的，

 所以第二行輸出- 1 。

 評分說明
```

```
輸入包含若干筆測試資料，每一筆測試資料的執行時間限制(time limit)均為 1 秒，依
正確通過測資筆數給分。其中：
第 1 子題組 20 分： 1 ≦ N ≦ 20 ，M = 1。
第 2 子題組 30 分： 1 ≦ N ≦ 20 ，M = 2。
第 3 子題組 50 分： 1 ≦ N ≦ 20 ， 1 ≦ M ≦ 20 。
```

In [53]:
line =input()
a ,b = line.split()

w=[]
for i in range(int(a)):
    i=input()
    w.append(i)
    
x=[]
for j in range(int(a)):
    c=w[j].split()
    x.append(c)
    
y=[]
for k in range(int(a)):
    d=int(max(x[k]))
    y.append(d)
    
e=sum(y)
print(e)

z=[]
for l in range(int(a)):
    if e % int(y[l]) != 0:
        z.append(0)
    else:
        z.append(1)

if sum(z) != 0:
    print("1")
else:
    print("-1")

4 3
2 7 9
6 3 2
4 7 1
9 5 3
31
-1

In [1]:
line =input()
a ,b = line.split()

3 2

In [2]:
a

'3'

In [3]:
b

'2'

In [14]:
w=[]
for i in range(int(a)):
    i=input()
    w.append(i)

1 5
6 4
1 1

In [15]:
w

['1 5', '6 4', '1 1']

In [17]:
x=[]
for j in range(int(a)):
    c=w[j].split()
    x.append(c)

In [18]:
x

[['1', '5'], ['6', '4'], ['1', '1']]

In [21]:
x[1]

['6', '4']

In [22]:
max(x[1])

'6'

In [33]:
y=[]
for k in range(int(a)):
    d=int(max(x[k]))
    y.append(d)

In [34]:
y

[5, 6, 1]

In [36]:
e=sum(y)

In [37]:
e

12

In [47]:
z=[]
for l in range(int(a)):
    if e % int(y[l]) != 0:
        z.append(0)
    else:
        z.append(1)

In [48]:
z

[1, 0, 0]

In [49]:
sum(z)

1